
<div class="bg-light border border-primary p-3 rounded m-3">
    <h1 class="display-4 text-center">Movie Watch List</h1>
    
</div>
<ul>
    <% for (movie of movies){%>
        <li> 
            
            <%= movie['title'] %>
            <a href="/watchListItem/remove/<%= movie._id %>">Remove</a>
            
        </li>
    <% } %>
</ul>